@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  height: 95%;
}

#root {
  margin: 50px 5px 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

body {
  font: 14px 'Roboto', sans-serif;
  background: #ecf1f8;
  color: #333;
  -webkit-font-smoothing: antialiased !important;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

table {
  border: 1px solid #dedede;
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  background: #fafafa;
  margin-top: 20px;
  overflow: auto;
  height: 300px;
  table-layout: fixed;
}

table thead th {
  height: 30px;
  background: #333;
  color: white;
  width: 100%;
}

table thead th.colname {
  width: 40%;
}

table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

table tr td {
  padding: 5px;
}

.header {
  width: 100%;
  height: 40px;
  background: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
  left: 0;
}

.header ul {
  display: flex;
  height: 100%;
  -webkit-app-region: no-drag;
}

.header ul li {
  display: flex;
  align-items: center;
  padding: 15px;
}

.header ul li:hover {
  background: darkred;
}

.header span {
  padding-left: 10px;
}

.avatar {
  display: flex;
  justify-content: flex-end;
}

.avatar img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #dedede;
}

.container .info span {
  font-weight: bold;
}

.estrelados {
  border: 1px solid #dedede;
  background: #fafafa;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  grid-gap: 20px;
}

.estrelados div {
  display: flex;
  flex-direction: column;
}

.estrelados div div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.estrelados div div img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.estrelados div div span {
  font-weight: bold;
  flex: 1;
  margin-left: 10px;
}

.estrelados div span {
  flex: 1;
  margin-top: 10px;
}
